<html>
	<head>
		<script src="jquery-3.1.0.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
			var s=<%= @plan.duration %>;
			var d = new Date();
			var month = d.getMonth();
			var day = d.getDate()+s;
			var year=d.getFullYear();
			if(month < 10)
			{
			month='0'+month;
			}
			if(day < 10)
			{
			day='0'+day;
			}
			date=day+'/'+month+'/'+year;
			$('#one').hide();
			$('#two').hide();
			$('#three').hide();
			$('#but1').click(function()
			{

			$('#inp1').val();
			var a=<%= @plan.duration %>;
			var b=$('#gt2').val();
			var c=b/a;
			var r=<%= @plan.roi %>;
			var n=(+b + +(b*(r/100)));
			$('#inp1').val(n);
			$('#gt').val(c);
			$('#mat1').val(date);
			$('#one').show();
			$('#two').show();
			$('#three').show();

			});
			})
		</script>
	</head>
	<body>
		<h2>Edit </h2>
		<% if @pol.errors.any? %>
		<ul>
			<% @pol.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
		<% end %>
		<%= form_for @pol do |f| %>
		<table class = "table">
			<tbody>
				<tr>
					<th>Customer ID :</th>
					<td><%= f.text_field :client_id %></td>
				</tr>
			
				<tr>
					<th>Nominee :</th>
					<td><%= f.text_field :nominee %></td>
				</tr>	 
				<tr>
					<th>Sum Insured :</th>
					<td><%= f.text_field :sum_insured ,:id=>'gt2' %></td>
				 
				</tr>
				<tr>
					<th></th>
					<td><input id="but1" class="btn btn-success btn-xs" type="button" onClick="setit()" value="Calculate Premium"></td>
				</tr>
			
				<tr id="one">
					<th>Premium(in Rs.) :</th>
					<td><%= f.text_field :premium,:id=>"gt" %></td>
				</tr>
				<tr>
					<th>Insurance Company :</th>
					<td><%= Plan.find_by_plan_no(@plan.plan_no).company_name %></td>
				</tr>
				<tr>
					<th>Policy no :</th>
					<td><%= f.text_field :plan_no  %></td>
				</tr>
				<tr id="two">
					<th>Maturity Date :</th>
					<td><%= f.text_field :maturity_date,:id=>"mat1" %></td>
				</tr>
				<tr id="three">
					<th>Matured Amount(in Rs.)</th>
					<td><input type="text" id="inp1" disabled></td>
				</tr>
			</tbody>
		</table>
		<%= f.submit "Buy plan",class:"btn btn-primary btn-md"%>
		<%= link_to "Back",buys_path,class:"btn btn-primary btn-md" %>
		<br><br><br>
		<% end %>
	</body>
</html>