
<h3>Add documents (if any)</h3><div align = "right"><progress value = "75" max = "100"></progress> Step 3(75%)</div>

<h3><u>Documents of <%= Customer.find(Policy.find(params[:id]).customer_id).customer_name%></u></h3>

<div class = "jumbotron" >
  
  <div class = "table-responsive" >
    
    <table class = "table" >
      
      <thead>
	
	<tr>
	  <th>Document Name</th>
	  <th></th>
	  <th></th>
	</tr>
	
      </thead>
      
      <tbody>
	
	<% @docs.each do |f| %>
	<tr>
	  <td><%= f.title %></td>	
	  <td><%= link_to "View" , policy_document_path(f) , class: "btn btn-success btn-xs" %></td>
	  <td><%= link_to "Delete" , policy_document_path(f) , method: :delete , data: {confirm: "Are you sure?" } , class: "btn btn-danger btn-xs" %></td>	  
	</tr>  
	<% end %>    
	
      </tbody>
      
    </table>
    
  </div>
  
</div>

<div class = "div1" >
  
  <%= link_to "Add Document" , new_policy_document_path , class: "btn btn-primary btn-md" %>
  
  <%= link_to "Proceed to payment" , transactions_path , class: "btn btn-primary btn-md" %>

  
</div>

