<html>
<head>
<style>
table,.div1
{
margin-top:20px;
margin-left:20px;
}
</style>
</head>
<body>
<h3><u>List of Plans</u></h3>

<table class = "table">
    <thead>
		<tr>
			<th><h5><b>Policy Name</b></h5></th>
			<th></th>
			<th></th>
		</tr>
	</thead>
   
	<tbody>
		<% @plans.each do |f| %>
			<tr>
				<td><%= f.plan_name %></td>
				<td><%= link_to "Edit",edit_plan_path(f),class:"btn btn-info btn-xs" %></td>
				<td><%= link_to "Details",plan_path(f),class:"btn btn-success btn-xs" %></td>
				<td><%= link_to "Delete",plan_path(f),method: :delete,data: {confirm: "Are you sure?" },class:"btn btn-danger btn-xs" %></td>
				<td><%= link_to "Reviews",comment_path(f),class:"btn btn-success btn-xs" %></td>			
			</tr>  
		<% end %>    
		
	</tbody>
</table>
<div class="div1">
	<%= link_to "Add Plan",new_plan_path,class:"btn btn-primary btn-md" %>
	<%= link_to "Back",coms_path,class:"btn btn-primary btn-md" %>
</div>
</body>
</html>	