<h2>Welcome <%=  @customer.cname %></h2><br><br>
<table class = "table">
   <tbody>
		<tr>
			<th>Customer No :</td>
			<td><%= @customer.client_id %></td>
		</tr>
		<tr>
			<th>Customer Name :</th>
			<td><%=  @customer.cname %></td>
		</tr>
		<tr>
			<th>Contact No :</th>
			<td><%= @customer.contact %></td>
		</tr>
		<tr>
			<th>Email :</th>
			<td><%=  @customer.email %></td>
		</tr>
		<tr>
			<td><%= link_to "Edit Details",edit_customer_path(session[:id]),class:"btn btn-warning btn-md" %></td>
		</tr>
	</tbody>
</table>
<br><br>
<table class="table-bordered">
	<thead>
		<th>Policy No</th>
		<th>Insurance Company</th>
		<th>Nominee</th>
		<th>Sum Insured(in Rs.)</th>
		<th>Premium(in Rs.)</th>
		<th>Maturity Date</th>
		<th>Days left</th>
		<th>Mature Status</th>
		<th>Matured Amount</th>
		<th>Status</th>
	</thead>
	<tbody>
		<% @pols.each do |p| %>
			<tr>
				<td><%= p.plan_no %></td>
				<td><%= Plan.find_by_plan_no(p.plan_no).company_name %></td>
				<td><%= p.nominee %></td>
				<td><%= p.sum_insured %></td>
				<td><%= p.premium %></td>
				<td><%= p.maturity_date %></td>
				<td><%= p.maturity_date.day-Time.now.to_date.day %></td>
				<% if (p.maturity_date.day-Time.now.to_date.day)==0 %>
					<td><%= "Matured" %>
				<% else %>
					<td><%= "Not Matured" %></td>
				<% end %>
				<td><%= ((((Plan.find_by_plan_no(p.plan_no).roi)* p.sum_insured.to_f)/100).to_f+ +p.sum_insured.to_f).to_f %></td>
				<td><%= p.status %></td>
				<td><%= link_to "",pol_path(p),method: :delete,data: {confirm: "Are you sure?" },class:"btn btn-danger btn-xs glyphicon glyphicon-trash" %></td>
				<% if p.status!="surrendered" %>
					<td><%= link_to "Surrender",main_path(p),method: :delete,data: {confirm: "Are you sure?" },class:"btn btn-danger btn-xs" %></td>
				<% end %>
				<td><%= link_to "Comment",edit_comment_path(Plan.find_by_plan_no(p.plan_no).id),class: "btn btn-danger btn-xs" %></td>
			</tr>
		<% end %>
	</tbody>
</table>
<%= link_to "Logout",customers_path, class:"btn btn-primary btn-md"%>
<%= link_to "Buy Plan",buys_path, class: "btn btn-primary btn-md" %>
<br><br>
<h5>*** To <b><i>purchase/view</i></b> plans Click on <b>Buy Plan</b> ***</h5>
<br><br><br>
