<html>
  <body>
    <table class = "table">
      <tbody>
	<tr>
	  <th>Plan Name :</th>
	  <td><%= @plan.plan_name %></td>
	</tr>

	<tr>
	  <th>Max Tenure :</th>
	  <td><%= @plan.max_tenure %> days</td>
	</tr>
	<tr>
	  <th>Rate of Interest :</th>
	  <td><%= @plan.roi %>%</td>
	</tr>
	<tr>
	  <th>Bonus :</th>
	  <td><%= @plan.bonus %>%</td>
	</tr>
	<tr>
	  
	  <td><%= link_to "Back",choice_path(@plan.com_id), class:"btn btn-primary btn-md" %></td>
	</tr>
      </tbody>

    </table>

    <br><br><br>
  </body>
</html>
