<h2><u><i><%=  @plan.company_name %> Insurance Plans</i></u></h2>
<table class = "table">
    <tbody>
		<tr>
			<th>Plan No :</td>
			<td><%= @plan.plan_no %></td>
		</tr>
      
		<tr>
			<th>Plan Name :</th>
			<td><%=  @plan.plan_name %></td>
		</tr>
		<tr>
			<th>Company :</th>
			<td><%= @plan.company_name %></td>
		</tr>
		<tr>
			<th>Duration :</th>
			<td><%=  @plan.duration %> days</td>
		</tr>
		<tr>
			<th>Bonus(%) :</th>
			<td><%= @plan.bonus %>%</td>
		</tr>
		<tr>
			<th>Rate of Interest(%) :</th>
			<td><%=  @plan.roi %>%</td>
		</tr>
   </tbody>	
</table>
<%= link_to "Back",buys_path, class:"btn btn-primary btn-md"%>
<br><br><br>
