
<h2 align = "center" class = "glyphicon glyphicon-comment center-block" >Comments</h2>

<table class = "table" >

  <tbody>
    
    <% if Comment.exists?(@comments) %>
      <tr>
        <th><i><u>Policy Holders</u></i></th>
        <th><span class = "glyphicon glyphicon-comment" > </span><i><u>Reviews</u></i></th>
      </tr> 
    <% end %>
    
    <% @comments.each do |f| %>
      <tr>
        <td><%= Customer.find(f.customer_id).customer_name %></td>
        <td><%= f.description %></td>
      </tr>
    <% end %>
    
  </tbody>
  
</table>

<%= form_for @comment do |f| %>
<table class = "table">
  
  <tbody>
    
    <tr>
      <th id = "p1"><%= f.text_field :plan_id %></th>
      <th><%= Plan.find(params[:id]).plan_name %></th>
      <th><%= Customer.find(session[:id]).customer_name %></th>
      <td id="p2"><%= f.text_field :customer_id , placeholder: "Client ID" %></td>
      <td><%= f.text_area :description , placeholder: "Comment" , rows: 6 , cols: 40 %></td>
    </tr>
    
    <tr>
      <td><%= f.submit "Post Comment" ,class: "btn btn-primary btn-md" %></td>
      <td><%= link_to "Back" , customer_path(session[:id]) , class: "btn btn-primary btn-md" %></td>
    </tr>
    
    <% end %>
  </tbody>
  
</table>

