
<h3><u>Plans under <%= Company.find(params[:id]).company_name%></u></h3>
<div class="table-responsive table-bordered">
  <table class = "table">
    <thead>
      <tr>
	<th>Policy Name</th>
	<th></th>
	<th></th>
      </tr>
    </thead>
    
    <tbody>
      <% @plans.each do |f| %>
      <tr>
	<td><%= f.plan_name %></td>
	<td><%= link_to "Edit",edit_plan_path(f),class:"btn btn-info btn-xs" %></td>
	<td><%= link_to "Details",plan_path(f),class:"btn btn-success btn-xs" %></td>
	<td><%= link_to "Delete",plan_path(f),method: :delete,data: {confirm: "Are you sure?" },class:"btn btn-danger btn-xs" %></td>
	
      </tr>  
      <% end %>    
      
    </tbody>
  </table>
</div>
<div class="div1">
  <%= link_to "Add Plan",new_plan_path,class:"btn btn-primary btn-md" %>
  <%= link_to "Back",companies_path,class:"btn btn-primary btn-md" %>
</div>

