<html>
  <body>
    <h2>Create New Plan</h2>
    <%= form_for @plan do |f| %>
    <% if @plan.errors.any? %>
    <h4>Errors: </h4>
    <ul>
      <% @plan.errors.full_messages.each do|msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
    <table class = "table">
      <tbody>
	<tr>
	  <th><h5>Plan Name :</h5></th>
	  <td><%= f.select :plan_name,['Life Insurance','Car Insurance','Two-wheeler insurance','Child plan','Retirement Plan'] %></td>
	</tr>

	<tr>
	  <th><h5>Max Tenure (in days) :</h5></th>
	  <td><%= f.number_field :max_tenure %></td>
	</tr>
	<tr>
	  <th><h5>Rate of Interest(%):</h5></th>
	  <td><%= f.number_field :roi %></td>
	</tr>
	<tr>
	  <th><h5>Bonus(%) :</h5></th>
	  <td><%= f.number_field :bonus %></td>
	</tr>
	<tr>
	  <td><%= f.submit class:"btn btn-primary btn-md" %></td>
	  <td><%= link_to "Back",cal_path(session[:id]), class:"btn btn-primary btn-md" %></td>
	</tr>
      </tbody>

    </table>
    <% end %>
  </body>
</html>
