<html>
  <body>
    <h3>Plan Details: </h3>
    <div class="table-responsive table-bordered">
      <table class = "table">
	<tbody>
	  <tr>
	    <th>Plan Name :</th>
	    <td><%= @plan.plan_name %></td>
	  </tr>

	  <tr>
	    <th>Max Tenure :</th>
	    <td><%= @plan.max_tenure %> years</td>
	  </tr>
	  <tr>
	    <th>Rate of Interest :</th>
	    <td><%= @plan.interest %>% p.a</td>
	  </tr>
	  <tr>
	    <th>Bonus :</th>
	    <td><%= @plan.bonus %>%</td>
	  </tr>
	  <tr>
	    <th>Max. Policy Amount :</th>
	    <td>Rs.<%= @plan.max_amount %></td>
	  </tr>
	  <tr>
	    <th>Min.Policy Amount :</th>
	    <td>Rs.<%= @plan.min_amount %></td>
	  </tr>
	</tbody>

      </table>
    </div>
    <%= link_to "Back",list_plan_path(session[:company_id]), class:"btn btn-primary btn-md" %>
    <br><br><br>
  </body>
</html>
