
<h3>Plan Details: </h3>
<div class = "row">
  <div class = "col-md-6">
    <div class = "jumbotron" >
      
      <div class = "table-responsive" >
	
	<table class = "table" >
	  
	  <tbody>
	    
	    <tr>
	      <th>Plan Name :</th>
	      <td><%= @plan.plan_name %></td>
	    </tr>

	    <tr>
	      <th>Max Tenure :</th>
	      <td><%= @plan.max_tenure %> years</td>
	    </tr>
	    
	    <tr>
	      <th>Rate of Interest :</th>
	      <td><%= @plan.interest %>% p.a</td>
	    </tr>
	    
	    <tr>
	      <th>Bonus :</th>
	      <td><%= @plan.bonus %>%</td>
	    </tr>
	    
	    <tr>
	      <th>Max. Policy Amount :</th>
	      <td>Rs.<%= @plan.max_amount %></td>
	    </tr>
	    
	    <tr>
	      <th>Min.Policy Amount :</th>
	      <td>Rs.<%= @plan.min_amount %></td>
	    </tr>

	  </tbody>

	</table>
	
      </div>
      
    </div>
  </div>
  <div class = "col-md-6">
    <table class = "table table-striped table4" >
      <caption><h4><b>Policies under the plan :</b></h4></caption>
      <thead>
	
	<th><b>Customer Name</b></th>	
	<th><b>Plan Name</b></th>
	<th><b>Insurance Company</b></th>	
	<th><b>Maturity Date</b></th>      
	<th><b>Mature Status</b></th>
	<th class = "text-center" ><h5><b>Options</b></h5></th>
	
      </thead>
      
      <tbody>
	
	<% @pols.each do |f| %>
	
	<tr>
	  <td><%= Customer.find(f.customer_id).customer_name %></td>
	  <td><%= Plan.find(f.plan_id).plan_name  %></td>
	  <td><%= Company.find(Plan.find(f.plan_id).company_id).company_name %></td>   	        			    
	  <td><%= f.maturity_date %></td>		
	  <td><%= f.status %></td>
	  <td><%= link_to "View details" , policy_details_policy_path(f) , class: "btn btn-primary btn-xs" %></td>

	</tr>
	
	<% end %>
	
      </tbody>
      
    </table>
  </div>
</div>
<% if session[:call] == "plan" %>
<%= link_to "Back" , list_plan_path(@plan.company_id) , class: "btn btn-primary btn-md" %>
<% end %>

<% if session[:call] == "list" %>
<%= link_to "Back" , policy_list_policy_path("list") , class: "btn btn-primary btn-md" %>
<% end %>

<% if session[:call] == "home" %>
<%= link_to "Back" , home_path(session[:pid]) , class: "btn btn-primary btn-md" %>
<% end %>
<button type = "button" class = "btn btn-primary btn-md butp" >Policies under the plan</button>
