<h2>Edit Company Details</h2>
<%= form_for @com do |f| %>
	<% if @com.errors.any? %>
		<h4>Errors: </h4>
		<ul>
			<% @com.errors.full_messages.each do|msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
	<table class = "table">
		<tbody>
			<tr>
				<th><h5>Company Name :</h5></td>
				<td><%= f.text_field :com_name %></td>
			</tr>
		  
			<tr>
				<th><h5>Contact :</h5></th>
				<td><%= f.text_field :contact %></td>
			</tr>
			<tr>
				<th><h5>Address :</h5></th>
				<td><%= f.text_field :address %></td>
			</tr>
		
			<tr>
				<td><%= f.submit class:"btn btn-primary btn-md" %></td>
				<td><%= link_to "Back",coms_path, class:"btn btn-primary btn-md" %></td>
			</tr>
	   </tbody>

	</table>
<% end %>
