<html>
  <body>
    <h2>Add New Company</h2>
    <%= form_for @com do |f| %>
    <% if @com.errors.any? %>
    <h4>Errors: </h4>
    <ul>
      <% @com.errors.full_messages.each do|msg| %>
      <li><%= msg %></li>
      <% end %>
    </ul>
    <% end %>
    <table class = "table">
      <tbody>
	<tr>
	  <th><h5>Company Name :</h5></th>
	  <td><%= f.text_field :com_name %></td>
	</tr>

	<tr>
	  <th><h5>Contact :</h5></th>
	  <td><%= f.number_field :contact %><i>**Contact should be 10 digits long**</i></td>
	</tr>
	<tr>
	  <th><h5>Address :</h5></th>
	  <td><%= f.text_field :address %></td>
	</tr>

	<tr>
	  <td><%= f.submit "Create Company" ,class:"btn btn-primary btn-md" %></td>
	  <td><%= link_to "Back",coms_path, class:"btn btn-primary btn-md" %></td>
	</tr>
      </tbody>

    </table>
    <% end %>
  </body>
</html>
