<html>
  <body>
    <h2>List of Customers</h2>

    <table class = "table">
      <thead>
	<tr>
	  <th>Customer Name</th>
	  <th></th>
	  <th></th>
	</tr>
      </thead>
      
      <tbody>
	<% @custs.each do |f| %>
	<tr>
	  <td><%= f.cust_name %></td>
	  <td><%= link_to "Edit",edit_customer_path(f),class:"btn btn-info btn-xs" %></td>
	  <td><%= link_to "Details",customer_path(f),class:"btn btn-success btn-xs" %></td>
	  <td><%= link_to "Delete",customer_path(f),method: :delete,data: {confirm: "Are you sure?" },class:"btn btn-danger btn-xs" %></td>
	  <td><h5>To view plans subscribed under customer click on<b> Details</b></h5></td>
	  
	</tr>  
	<% end %>    
	
      </tbody>
    </table>
    <%= link_to "Add Customer",new_customer_path,class:"btn btn-primary btn-md" %>
    <%= link_to "Back",mains_path,class:"btn btn-primary btn-md" %>
  </body>
</html>
