
<h3>Purchase Plan</h3><div align="right">50% <progress value="50" max="100"></progress> Step 2</div>
<h5> (** denotes Mandatory Fields)</h5>
<%= form_for @pol do |f| %>
<% if @pol.errors.any? %>
<h4>Errors: </h4>
<ul>
  <% @pol.errors.full_messages.each do|msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
<div class="jumbotron form-responsive">
  <table class = "table">
    <tbody>
      <tr id="p1" class="form-group" >
	<th>Plan ID :</th>
	<td><%= f.text_field :plan_id ,class: "form-control" %></td>
      </tr>
      <tr class="form-group" >
	<th>Plan Name :</th>
	<td><%= Plan.find(session[:plan_id]).plan_name %></td>
      </tr>
      <tr class="form-group" >
	<th>Customer name :</th>
	<td><%= Customer.find(session[:id]).customer_name %></td>
      </tr>
      <tr class="form-group" >
	<th>Sum Insured(Rs.) :</th>
	<td><%= f.text_field :sum_insured, :id => "sum1",:readonly => true,value: session[:premium],class: "form-control" %></td>
      </tr>
      <tr class="form-group" >
	<th>** Nominee :</th>
	<td><%= f.text_field :nominee,class: "form-control" %></td>
      </tr>
      <tr class="form-group" >
	<th>Duration (in years ) :</th>
	<td><%= f.text_field :duration, :id=>"dur",:readonly => true,value: session[:duration],class: "form-control" %></td>
      </tr>
      <tr class="form-group" >
	<th>Premium Type :</th>
	<td><%= f.text_field :premium_mode,:readonly => true,value: session[:premium_mode],class: "form-control" %></td>
      </tr>
      <tr class="form-group" >
	<th>Premium (Rs.) :</th>
	<td><%= f.text_field :premium,:id => "prem" ,:readonly => true ,value: (session[:premium].to_f/(session[:duration].to_f * session[:premium_mode_no].to_f)),class: "form-control" %></td>
      </tr>
      <tr  id="hid2" class="form-group" >
	<th>Maturity amount( Rs. ) :</th>
	<td><%= f.text_field :maturity_amount,:id => "matval",:readonly => true,value: (session[:premium].to_f*(1+(Plan.find(session[:plan_id]).interest.to_f * session[:duration].to_f) /100)),class: "form-control" %></td>
      </tr>
      <tr id="hid3" class="form-group" >
	<th >Maturity Date :</th>
	<td><%= f.text_field :maturity_date,:id => "matdate",value: (Time.now.to_date + session[:duration].to_i.year),:readonly => true,class: "form-control" %></td>
      </tr>
      <tr>
	<td><%= f.submit "Purchase Plan", class:"btn btn-primary btn-md" %></td>
	<td><%= link_to "Cancel",cancel_policy_policies_path, class:"btn btn-danger btn-md" %></td>
      </tr>

    </tbody>

  </table>
  <%= link_to "Back",policy_path(session[:param_id]),class: "btn btn-primary btn-md" %></td>
</div>
<% end %>

