
<div><h3>Fill the details: </h3><div align = "right">50% <progress value = "50" max = "100"></progress> Step 1</div></div>
<h5> (** denotes Mandatory Fields)</h5>

<%= form_tag(action: "create" ) do |f| %>
<% if @customer.errors.any? %>
<h4>Errors: </h4>
<ul>
  <% @customer.errors.full_messages.each do|msg| %>
  <li><%= msg %></li>
  <% end %>
</ul>
<% end %>
<div class = "container">
  <div class = "row">
    <div class = "col-md-8">
      <div class = "jumbotron form-responsive" >
	
	<table class = "table" >
	  <caption></caption>
	  <tbody>
	    
	    
	    <tr id = "nm1" class = "form-group">
	      <td><label>** Customer Name :</label> </td>
	      <td><%= text_field_tag :customer_name , nil , required: true  , class: "form-control cust"  %></td>     
	    </tr>
	    
	    <tr class = "form-group ">
	      <td><label>** Contact No :</label> </td>
	      <td><%= number_field_tag :contact , nil , required: true , class: "form-control cont num"  %><i id = "ntext" >**No.should be of 10 digits**</i></td>
	    </tr>
	    
	    
	    <tr class = "form-group ">
	      <td><label>** Email ID :</label> </td>
	      <td><%= email_field_tag :email , nil , required: true , class: "form-control email"  %><i>E.g. anything@domain.com</i></td>     
	    </tr>


	    <tr id = "p1" class = "form-group" >
	      <th>Plan ID :</th>
	      <td><%= text_field_tag :plan_id , params[:id] , readonly: true , class: "form-control" %></td>
	    </tr>
	    
	    <tr class = "form-group " >
	      <th>&nbsp &nbsp Plan Name :</th>
	      <td><%= Plan.find(params[:id]).plan_name %><%= link_to "Change Plan" , plans_path , class: "btn btn-xs btn-success" %></td>
	    </tr>
	    
	    
	    <tr class = "form-group " >
	      <th>** Sum Insured(Rs.) :</th>
	      <td><%= number_field_tag :sum_insured , nil , required: true , min: @plan.min_amount , max: @plan.max_amount , class: "form-control"  %></td>
	    </tr>
	    
	    <tr class = "form-group ">
	      <td><label>** Policy Duration(in years) : </label></td>
	      <td><%= number_field_tag :duration , nil , min: 1 , max: @plan.max_tenure , step: 1 , required: true , class: "form-control"  %></td>
	      
	    </tr>
	    
	    <tr class = "form-group " >
	      <th>** Nominee :</th>
	      <td><%= text_field_tag :nominee , nil , required: true , class: "form-control" %></td>
	    </tr>

      	    <tr class = "form-group ">
	      <td><label>** How would you like to pay your premium ?</label></td>
	      <td>
		<%= select_tag :premium_mode , "<option>Monthly</option><option>Yearly</option><option>Quarterly</option>".html_safe , class: "form-control" %>
	      </td>
	    </tr>

	    
	    <tr >	      
	      
	      <td><%= link_to "Back" , plans_path , class: "btn btn-primary btn-md" %></td>	      
	      <td><%= submit_tag "Next" , class: "btn btn-primary btn-md add2" %></td>	
	      
	    </tr>
	    
	    
	    
	  </tbody>

	</table>

      </div>
      <% end %>
    </div>
    
    <div class = "col-md-4">
      
      <h5><b>Details of Plan : </b></h5>
      
      <div class = "div3">
	
	<div class = "div2">Max tenure: <%= @plan.max_tenure %>years</div>
	<div class = "div2">Rate of Interest: <%= @plan.interest %>% p.a</div>
	<div class = "div2">Bonus: <%= @plan.bonus %>%</div>
	<div class = "div2">Min.Policy Amt:&nbsp &nbspRs.<%= @plan.min_amount %></div>
	<div class = "div2">Max.Policy Amt:&nbsp &nbsp  Rs.<%= @plan.max_amount %></div>
	
      </div>
      
    </div>

  </div>
</div>

