<h3><b>List of policies:</b></h3>

<div class = "jumbotron" >
  
  <div class = "table-responsive" >
    
    <table class = "table table-striped" >
      
      <thead>
	
	<th><b>Customer Name</b></th>
	<% if session[:paramid] == "list" %>
	  <th><b>Plan Name</b></th>
	  <th><b>Insurance Company</b></th>
	<% end %>
	<th><b>Maturity Date</b></th>      
	<th><b>Mature Status</b></th>
	<th colspan = "3" class = "text-center" ><h5><b>Options</b></h5></th>
      </thead>
      
      <tbody>
	
	<% @pols.each do |p| %>
	<tr>
	  <td><%= link_to Customer.find(p.customer_id).customer_name , customer_path(p.customer_id) %></td>
	  <% if session[:paramid] == "list" %>
	  <td><%= link_to Plan.find(p.plan_id).plan_name , plan_path(p.plan_id) %></td>
	  <td><%= Company.find(Plan.find(p.plan_id).company_id).company_name %>
	    <% end %>
	  <td><%= p.maturity_date %></td>
	  <% if (p.maturity_date.to_date == Time.now.to_date) %>
	  <td><%= "Matured" %>
	    <% else %>
	  <td><%= "Not Matured" %></td>
	  <% end %>
	  <td><%= link_to "View details" , policy_details_policy_path(p) , class: "btn btn-primary btn-xs" %></td>
	  <td><%= link_to "E-Mail Details" , send_mail_policy_path(p) , class: "btn btn-danger btn-xs" %></td>
	  <td><%= link_to "View Docs" , list_policy_document_path(p) , class: "btn btn-success btn-xs" %></td>
	</tr>
	<% end %>
	
      </tbody>
      
    </table>
    
  </div>
  
</div>

<% if session[:paramid] == "list" %>
  <%= link_to "Back" , home_index_path(1) , class: "btn btn-primary btn-md" %>
<% else %>
  <%= link_to "Back" , list_plan_path(session[:paramid]) , class: "btn btn-primary btn-md" %>
<% end %>
