<h2>List of Companies</h2>

<table class = "table">
    <thead>
		<tr>
			<th>Company</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
   
	<tbody>
		<% @plans.each do |f| %>
			<tr>
				<td><%= f.company_name %></td>
				<td><%= link_to "",edit_plan_path(f),class:"btn btn-info btn-xs glyphicon glyphicon-edit" %></td>
				<td><%= link_to "Show",plan_path(f),class:"btn btn-success btn-xs" %></td>
				<td><%= link_to "",plan_path(f),method: :delete,data: {confirm: "Are you sure?" },class:"btn btn-danger btn-xs glyphicon glyphicon-trash" %></td>
				<td><%= link_to "Reviews",comment_path(f),class:"btn btn-warning btn-xs" %></td>
			</tr>  
		<% end %>    
		
	</tbody>
</table>
	<%= link_to "Add Plan",new_plan_path,class:"btn btn-primary btn-md" %>
	<%= link_to "Back",mains_path,class:"btn btn-primary btn-md" %>