<html>
<head>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
		<script type="text/javascript">
			$(document).ready(function(){
				$('#hid1').hide();
				$('#hid2').hide();
				$('#hid3').hide();
				$('#prem').hide();
				$('#matval').hide();
				$('#matdate').hide();
				$('#p1').css("display", "none");
				$('#p2').css("display", "none");
				$('#but1').click(function(){
				
				$('#hid1').show();
				$('#hid2').show();
				$('#hid3').show();
				$('#prem').show();
				$('#matval').show();
				$('#matdate').show();
				
				var s=$('#dur').val();
				var d = new Date();
				var month = d.getMonth();
				var day = Number(Number(d.getDate())+Number(s));
				var year=d.getFullYear();
				if(month < 10)
				{
				month='0'+month;
				}
				if(day < 10)
				{
				day='0'+day;
				}
				date=day+'/'+month+'/'+year;
				$('#matdate').val(date);
				
				var pr=$('#sum1').val();
				var p=pr/s;
				$('#prem').val(p);
				
				var r= <%= @plan.roi %>;
				
				var m=pr*(1+(r/100));
				$('#matval').val(m);
				});
			});
		</script>
</head>
<body>
<h2>Purchase Plan</h2>
<%= form_for @pol do |f| %>
	<% if @pol.errors.any? %>
		<h4>Errors: </h4>
		<ul>
			<% @pol.errors.full_messages.each do|msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
	<table class = "table">
		<tbody>
		<tr id="p1">
				<th>Plan ID :</td>
				<td><%= f.text_field :plan_id  %></td>
			</tr>
			<tr>
				<th>Plan Name :</td>
				<td><%= @plan.plan_name %></td>
			</tr>
		  <tr id="p2">
				<th>Customer ID :</td>
				<td><%= f.text_field :customer_id %></td>
			</tr>
			<tr>
				<th>Customer name :</th>
				<td><%= Customer.find(session[:id]).cust_name %></td>
			</tr>
			<tr>
				<th>Sum Insured :</th>
				<td><%= f.text_field :sum_insured, :id => "sum1" %></td>
			</tr>
			<tr>
				<th>Nominee :</th>
				<td><%= f.text_field :nominee %></td>
			</tr>
			<tr>
				<th>Duration :</th>
				<td><%= f.text_field :duration ,:id=>"dur"%></td>
			</tr>
			
			<tr>
					<th></th>
					<td><input id="but1" class="btn btn-success btn-xs" type="button" onClick="setit()" value="Calculate Premium"></td>
			</tr>
			<tr  id="hid1">
				<th>Premium :</th>
				<td><%= f.text_field :premium,:id => "prem" ,:readonly => true %></td>
			</tr>
			<tr  id="hid2">
				<th>Maturity amount :</th>
				<td><%= f.text_field :maturity_amount,:id => "matval",:readonly => true %></td>
			</tr>
			<tr id="hid3">
				<th >Maturity Date :</th>
				<td><%= f.text_field :maturity_date,:id => "matdate",:readonly => true %></td>
			</tr>
			<tr>
				<td><%= f.submit "Purchase Plan", class:"btn btn-primary btn-md" %></td>
				<td><%= link_to "Cancel",choice_path(@plan.com_id), class:"btn btn-danger btn-md" %></td>
			</tr>
			
	   </tbody>

	</table>
<% end %>
</body>
</html>