<h2>List of Companies</h2>

<table class = "table">
    <thead>
		<tr>
			<th>Plans</th>
			<th></th>
			<th></th>
		</tr>
	</thead>
   
	<tbody>
		<% @coms.each do |f| %>
			<tr>
				<td><%= f.plan_name %></td>
				<td><%= link_to "Edit",edit_plan_path(f),class:"btn btn-info btn-xs" %></td>
				<td><%= link_to "Show",plan_path(f),class:"btn btn-success btn-xs" %></td>
				<td><%= link_to "Delete",plan_path(f),method: :delete,data: {confirm: "Are you sure?" },class:"btn btn-danger btn-xs" %></td>
							
			</tr>  
		<% end %>    
		
	</tbody>
</table>
	<%= link_to "Add Plan",new_plan_path,class:"btn btn-primary btn-md" %>
	